<div class="container px-5 mx-auto">
    <header class="flex flex-row items-center justify-between my-10">
        <h2 class="m-0 text-2xl font-bold">Profile</h2>

    </header>
    <section *ngIf="user$ | async as User" class="flex flex-col justify-center h-[55vh] items-center">
        <mat-card *ngIf="User.data as User">
            <mat-card-header class="flex flex-row justify-center my-4">
                <div>
                    <img class="rounded-full mb-3" mat-card-image [src]="User.avatar" alt="" />
                </div>
                <h3 class="text-2xl font-bold m-0">
                    {{ User.first_name + " " + User.last_name }}
                </h3>
            </mat-card-header>
            <mat-card-content class="grid grid-cols-2 gap-1">
                <p class="flex items-center">
                    <mat-icon class="mr-1">phone</mat-icon>
                    {{ User.phone_number }}
                </p>
                <p class="flex items-center">
                    <mat-icon class="mr-1">email</mat-icon>
                    {{ User.email }}
                </p>
                <p class="flex items-center">
                    <mat-icon class="mr-1">work</mat-icon>
                    {{ User.job }}
                </p>
                <p class="flex items-center">
                    <mat-icon class="mr-1">location_on</mat-icon>
                    {{ User.address }}
                </p>
            </mat-card-content>
            <div class="flex justify-between mt-8">
                <button mat-raised-button (click)="onDelete(User.id)" color="warn" class="text-sm py-2">
                    Delete User
                </button>
                <button mat-raised-button [routerLink]="['edit']" color="primary" class="text-sm py-2">
                    Edit User
                </button>
            </div>
        </mat-card>


    </section>
</div>